---
layout: page
---

<!-- Copyright 2019-2021 Vanessa Sochat-->
<h1 style="margin-bottom: 0px">{{ page.title }}</h1>
{% if page.badges %}{% for badge in page.badges %}<span
  class="badge badge-{{ badge.type }}"
  >{{ badge.tag }}</span
>{% endfor %}{% endif %}
<div style="margin-top: 8px">
  <span class="post-date"
    >등록일: {{ page.date | date: "%Y/%m/%e" }} | 마지막 수정일: {{ "now" |
    date: "%Y/%m/%e" }}</span
  >
  {% if page.author %}
  <p>
    By <strong>{{ page.author }}</strong>{% if page.email %} |
    <a href="mailto:{{ page.email }}">{{ page.email }}</a>{% endif %}
  </p>
  {% endif %}
</div>
{{ content }}
